/* ------------------- */
/* Custom properties   */
/* ------------------- */
/* CSS HEX */
:root {
	--clr-prussian-blue: #003049ff;
	--clr-fire-engine-red: #d62828ff;
	--clr-orange-wheel: #f77f00ff;
	--clr-xanthous: #fcbf49ff;
	--clr-vanilla: rgb(250, 245, 216);

	/* font-sizes */
	--fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
	--fs-800: 3.25rem;
	--fs-700: 1.75rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
	--fs-300: 0.938rem;
	--fs-200: 0.875rem;

	/* font-families */
	--ff-sans-normal: "Lato", sans-serif;

	/* Shadow */
	--shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
li {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

/* set up the body */
body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	color: hsl(var(--clr-prussian-blue));
	background-color: hsl(var(--clr-vanilla));
	line-height: 1.5;
	min-height: 100vh;
	max-width: 1440px;
	margin: 0 auto;
}

/* make images easier to work with */
img,
picture {
	max-width: 100%;
	height: auto;
	display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
	font: inherit;
}

ul,
li {
	text-decoration: none;
	list-style: none;
	font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */
.flex {
	display: flex;
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.container {
	padding: 4em;
	margin: 0 auto;
	width: 100%;
}

section {
	margin-bottom: 4rem;
}
